body {
  background-color: lightblue;
}

p{
  font-size: 300%;
}

div.sticky {
  position: sticky;
  top: 0;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

/*text and box around header*/
header {
  font-size: 400%;
  display: flex;
  position: fixed;
  width: 100%;
  height: 200px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

/*Menu Button*/
.button {
margin-top: 50px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 1;
-webkit-appearance: none;
border: 0;
background: transparent;
border-radius: 0;
height: 100px;
width: 30px;

/*changes what your mouse looks like when you hover over menu button*/
cursor: pointer;
/*-----------*/

pointer-events: auto;
margin-left: 25px;
touch-action: manipulation;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*menu button*/
.icon-bar {
display: block;
width: 80px;
height: 10px;
background: #aaa;
transition: .3s;
}

/*space between menu button lines*/
.icon-bar + .icon-bar {
margin-top: 15px;
}

#nav-container:focus-within .button {
pointer-events: none;
}
/*top of menu button*/
#nav-container:focus-within .icon-bar:nth-of-type(1) {
transform: translate3d(0,20px,0) rotate(45deg);
width: 100px
}
/*middle of menu button*/
#nav-container:focus-within .icon-bar:nth-of-type(2) {
opacity: 0;
width: 80px;
}
/*bottom of menu button*/
#nav-container:focus-within .icon-bar:nth-of-type(3) {
transform: translate3d(0,-25px,0) rotate(-45deg);
width: 100px;
}

/*the menu and white block*/
#nav-content {
margin-top: 200px;
padding: 20px;
width: 100%;
max-width: 80%;
position: absolute;
top: 0;
left: 0;
height: calc(100% - 70px);
background: #ffffff;
pointer-events: auto;
-webkit-tap-highlight-color: rgba(0,0,0,0);
transform: translateX(-100%);
transition: transform .3s;
will-change: transform;
contain: paint;
}

#nav-content ul {
height: 100%;
display: flex;
flex-direction: column;
margin-top: 10%;
}

#nav-content li a {
padding: 60px 10px;
display: block;
text-transform: uppercase;
transition: color .1s;
font-size: 500%
}

#nav-content li:focus{
border: 2px solid #4c4730;
border-radius: 2% ;
margin: 2px;
}


/*controlls text at bottom of menu*/

/*
#nav-content li:not(.small) + .small {
margin-top: auto;
}

.small {
display: flex;
align-self: center;
}

.small a {
font-size: 12px;
font-weight: 400;
color: rgb(134, 131, 131);
font-size: 100%;
}
.small a + a {
margin-left: 15px;
} */



#nav-container:focus-within #nav-content {
transform: none;
}



html, body {
height: 100%;
}

a,
a:visited,
a:link {
color:black;
text-decoration: none;
outline: 0;
}
a{
font-style: normal;
}

a:hover{color: #ff0000;}

a:active{
font-weight: 600;
color: #48ff00;
}

/*when tebbing through menu*/
a:focus{
color: orange;
border: 1px solid #000000;
border-radius: 2% ;

}

a {
transition: .5s ease-in-out;
}


ul {
padding: 0;
list-style: none;
}