@font-face {
  font-family: wii;
  src: url('contm.ttf');
}

html{
  background-image: url("bluewiibackground.JPG");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: auto 0;
}

section.s1 {
  color: white;
  text-shadow: 1px 1px 3px black;

  flex: 0 1 50%;
  font-size: 20;
  
  background-color: rgba(51, 51, 51, 0.774);  
  
  border: 10px solid rgb(0, 0, 0) ;
  background-size:cover;
  border-radius: 10px;
  padding: 5px;
  
  
}
section.s2 {
  flex: 0 1 35%;
  font-size: 20;
}







h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 2%;

  font-weight: 800;
  margin-top: 10%;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
}

/* By Dominik Biedebach @domobch */

header {
font-family: wii;

box-shadow: inset 0 -150px 100px -20px rgb(255, 255, 255), inset  0 -230px 150px -30px rgba(255, 255, 255, 0.466), inset 0 -500px 0px -30px rgba(255, 255, 255, 0.555);

  text-align: center;
  font-size: 150px;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding-bottom: 50px;
  padding-top: 50px;

  
  display: flex;

    width: 100%;
    height:min-content;

    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;


}




/* NAVIGATION */

/* this is the menu bar at the top of the page*/
nav {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 0;

  box-shadow: 0 80px 80px -20px rgba(0, 0, 0, 0.493);


}

/*small section around menu that allows it to stick to top*/
#nav-content {
  position: sticky;
  top: 0;

}

div .shadow {


  box-shadow: 0 500px 10px -200px rgba(0, 0, 0, 0.493);

} 


/* By Dominik Biedebach @domobch */
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display:inline-flex ;
}

/*menu text*/
nav ul li a {
  display:block;
  padding: 10px;
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 60px;
  font-size: relative;
}




/*menu animation*/
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .4s;
}



/*text hovered*/
#nav-content ul li a:hover {
  color: rgb(118, 208, 243);
  font-size: large;
  padding-top: 3px;
}


/* By Dominik Biedebach @domobch */


/* stroke */
/*this is the underline*/
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


/*
nav.stroke ul li a.active,
nav.fill ul li a.active {
  position: relative;
}


nav.stroke ul li a.active:before,
nav.fill ul li a.active:before,
nav a.active:hover:before , 
nav a.active:before {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 3px;
}*/

.active {
  color: rgb(118, 208, 243);
  font-size: large;
  padding-top: 5px;
}





nav ul li a:before {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 3px;}















legend{
  text-align: center;
  font-family: wii;
  font-size: xx-large;
  margin-top: 10%;
  margin-bottom: 5%;
}

.buttonHolder{ text-align: center; 
margin-bottom: 8%;}


label{
  font-size: xx-large;
   text-align: center;
   margin-top: 5%;
}



input[type=text]{
  width: 80%;
  text-align: center;
  font-size: x-large;
  margin-bottom: 10%;
}

input[type=email]{
  width: 80%;
  text-align: center;
  font-size: x-large;
  margin-bottom: 5%;
}



.textbox{
  flex:inherit;
  font-size: 20;
  text-align: center;
}


  .textbox label {
    font-style: italic;
    display: inline-block;
    width: 12rem;
  }
  
  
  textarea#mytext {
    display: block;
  }
  













  
  input[type="submit"]{
    height: 100px;
    width: 300px;
    font-size: x-large;


    background-image: url("glossybutton.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120% 130%;

  border-radius: 20px;
  }


  input[type="submit"]:hover {
    box-shadow: inset 0 0 0 1000px rgba(35, 184, 243, 0.432);

    display: inline-block;
    align-items: center;


      height: 100px;
      width: 300px;
    
      background-image: url("glossybutton.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 120% 130%;
    
      border-radius: 20px;
      
    }


    input[type="submit"]:active {
      box-shadow: inset 0 0 0 1000px rgba(48, 115, 141, 0.432);

      display: inline-block;
      align-items: center;
  
  
        height: 100px;
        width: 300px;
      
        background-image: url("glossybutton.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120% 130%;
      
        border-radius: 20px;
        
      }

  



 
 
    input[type="reset"]{
      height: 100px;
      width: 300px;
      font-size: x-large;
  
  
      background-image: url("glossybutton.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% 130%;
  
    border-radius: 20px;
    }
  
    input[type="reset"]:hover {
      box-shadow: inset 0 0 0 1000px rgba(35, 184, 243, 0.432);

      display: inline-block;
      align-items: center;
  
  
        height: 100px;
        width: 300px;
      
        background-image: url("glossybutton.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120% 130%;
      
        border-radius: 20px;
        
      }
      input[type="reset"]:active {
        box-shadow: inset 0 0 0 1000px rgba(48, 115, 141, 0.432);
  
        display: inline-block;
        align-items: center;
    
    
          height: 100px;
          width: 300px;
        
          background-image: url("glossybutton.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 120% 130%;
        
          border-radius: 20px;
          
        }
  
 

















ul#choices{
  list-style:none;
  font-family: wii;
  font-size: 43px;
  line-height: 20%;
  
}


input[type=radio] {
width: 50px;
height: 50px;
margin-right: 20px;
margin-bottom: 5%;
vertical-align: middle;
}
  input:focus {
    background-color: rgb(118, 208, 243);
    animation: myanimation 1.5s infinite
  }
  
  @keyframes myanimation {
    0% {background-color: white;}
    50%{background-color: rgb(118, 208, 243)}
      100% {background-color: white;}
  }






  #background {
    width: 130%; 
    height: 130%; 
    position: fixed; 
    top: -100px;
    left:-160px;
    z-index: -1;
    opacity: 0.2;
}

.stretch {
    width:100%;
    height:100%;
}









