html{
  background-image: url("wiibackground.JPG");
  background-size:cover;
 
}



body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: auto 0;
}

section.s1 {
  color: white;
  text-shadow: 1px 1px 3px black;

  flex: 0 1 50%;
  font-size: 20;
  
  background-color: rgba(51, 51, 51, 0.774);  
  
  border: 10px solid rgb(0, 0, 0) ;
  background-size:cover;
  border-radius: 10px;
  padding: 5px;
  
  
}
section.s2 {
  flex: 0 1 35%;
  font-size: 20;
}







h1 {
  text-align: center;
  padding: 50px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
}

/* By Dominik Biedebach @domobch */

header {
  text-align: center;
  font-size: 200%;
  margin: 0;
  font-weight: 300;
  color: inherit;
  padding: 50px;
  display: flex;

    width: 100%;
    height: 70px;

    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

}


/* NAVIGATION */

/* this is the menu bar at the top of the page*/
nav {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 0;

  box-shadow: 0 5px 30px rgba(0,0,0,.2);
  
}

/*small section around menu that allows it to stick to top*/
#nav-content {
  position: sticky;
  top: 0;
}


/* By Dominik Biedebach @domobch */
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display:inline-flex ;
}

/*menu text*/
nav ul li a {
  display:block;
  padding: 10px;
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 60px;
  font-size: relative;
}




/*menu animation*/
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .4s;
}



/*text hovered*/
#nav-content ul li a:hover {
  color: rgb(118, 208, 243);
  font-size: large;
  padding-top: 3px;
}


/* By Dominik Biedebach @domobch */


/* stroke */
/*this is the underline*/
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}







nav a:hover:before , 
nav a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.active {
  color: rgb(118, 208, 243);
  font-size: large;
  padding-top: 5px;
}





nav ul li a:before {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 3px;}












